*
  box-sizing border-box

html
  margin 0
  padding 0
  font-family monospace
  background-color #e39a6d

body
  width 1050px
  max-width 100%
  margin 40px auto
  background white

a
  cursor pointer
  color inherit
  text-decoration underline

  &:hover
    text-decoration underline

label
  display inline-block
  color gray

button
  font-size 60%
  cursor pointer

h1, h2, h3, h4, h5, h6
  margin-top 4px
  margin-bottom 2px

ul
  list-style circle inside
  padding 0

.react-json-view .string-value
  white-space pre-wrap
  word-wrap break-word
  word-break break-all
  max-width 400px
  display block

#invoice, #paste-invoice
  position fixed
  background white
  display flex
  flex-direction column
  justify-content center
  align-items center
  top 0
  left 0
  bottom 0
  right 0

  .controls
    display flex
    justify-content center
    align-items center

  textarea
    width 512px
    height 300px

  button
    padding 7px
    margin 17px

  pre
    white-space pre-wrap
    max-width 512px
    word-break break-all

nav
  display flex
  align-content center
  align-items center
  justify-content space-evenly
  background #efe4e4
  padding 20px

  & > *
    width 20%
    text-align center
    padding 0 10px
    word-wrap break-word
    word-wrap anywhere

    &:before
      display block
      text-align center

  .header
    font-size 120%
    font-weight bold
    font-family 'Open Sans', sans-serif

  .user-id:before
    content 'user.id'

  .user-balance:before
    content 'free satoshis'

  .user-offers:before
    content 'open offers'

  .user-tokens:before
    content 'tokens'

main
  display flex
  justify-content space-between

  & > *
    padding 0 10px 10px 10px

  @media (max-width 700px)
    display block

    & > *
      width 100%

#game
  flex-grow 2

  .game-input
    display flex
    justify-content center

    & > *
      margin 10px
      display block

    button
      padding 3px 15px

  .wrapper
    width 100%
    margin 10px
    display flex

  svg
    width 67%

    .board
      fill #e39a6d

  .info
    margin-left 5px
    white-space pre-wrap

    button
      max-width 100%
      padding 0

    input
      max-width 77px

    form button
      display block

.games
  margin 20px

#global
  flex-shrink 2

#user
  flex-shrink 2
  background #efe4e4
